  .dateBoard div {
    color: rgb(142, 140, 140);
    font-weight: bold;
    min-height: 2rem;
    padding: .2rem .2rem;
    text-align: center;
  }
  .dateBoard div:hover {
    background-color: rgb(225, 60, 60);
    border-radius: 50% 50%;
    width: 100%;
  }
  .dateBoard{
    margin-top: 20px;
  }
  .grid {
    display: grid;
    width: 600px;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 3px;
  }
  .grid div {
    padding: .2rem;
    font-size: .9rem;
    cursor: pointer;
  }
  .rap {
    max-width: 600px;
    padding: 0 1.4rem;
    margin-top: .3rem;
  }
  .dateHead div {
    padding: 10px 10px;
    color: rgb(142, 140, 140);
    text-align: center;
    font-weight: bold;
  }
  .dateTitle {
    text-align: center;
    font-size: 2rem;
  }
  .btn {
    display: block;
    width: 20px;
    height: 20px;
    border: 3px solid #000;
    border-width: 3px 3px 0 0;
    cursor: pointer;
   }
   .beforeDay {
     transform: rotate(-135deg);
   }
   .afterDay {
     transform: rotate(45deg);
   }
   .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  .line{
    border-bottom: 1px solid rgb(141, 139, 139);
    width: 90%;
    margin: 0 auto;
    padding: 10px;
  }
  .day:nth-child(7n){
    color: rgb(71, 109, 213);
  }
 .day:nth-child(1){
    color: rgb(213, 71, 71);
  }